/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Estilos Gerais */
body {
    font-family: 'Chakra Petch', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 3rem;
    color: #30475E;
}

header p {
    font-size: 1.2rem;
    color: #45474B;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 0 1rem;
}

.search-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.search-section input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.search-section button {
    padding: 10px 20px;
    background-color: #30475E;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-section button:hover {
    background-color: #222831;
}

.planos {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
}

.planos h2 {
    font-size: 1.5rem;
    color: #30475E;
    margin-bottom: 15px;
}

.planos ul {
    list-style-type: none;
    padding: 0;
}

.planos li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #45474B;
}

.video-button {
    background-color: #f8f8f8;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1.2rem;
}

.whatsapp-button,
.linkedin-button {
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.linkedin-button {
    background-color: #0077B5;
    margin-right: 10px;
}

.whatsapp-button:hover {
    background-color: #1A8737;
}

.linkedin-button:hover {
    background-color: #005983;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #45474B;
}

.social-buttons {
    margin-top: 15px;
}
